body {
    background: rgb(27, 27, 27);
}

.moon-shadow {
  background: #8a7f8d;
  position: absolute;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  top: 100px;
  left: 200px;
  width: 215px;
  height: 215px;
}

.moon {
  background: #e5e5e5;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.moon-crater-1 {
  background: #c9c9c9;
  border-radius: 59% 41% 59% 41% / 63% 38% 62% 37%;
  position: absolute;
  top: 27px;
  left: 43px;
  width: 20px;
  height: 20px;
}

.moon-crater-2 {
  background: #c9c9c9;
  border-radius: 59% 41% 59% 41% / 63% 38% 62% 37%;
  position: absolute;
  top: 53px;
  left: 26px;
  transform: rotate(156deg);
  width: 20px;
  height: 20px;
}

.moon-crater-3 {
  background: #c9c9c9;
  border-radius: 59% 41% 59% 41% / 63% 38% 62% 37%;
  position: absolute;
  top: 48px;
  left: 54px;
  transform: rotate(-22deg);
  width: 25px;
  height: 25px;
}

